/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #435e8f4e;
}

.countdown-container {
    text-align: center;
    background: #273469;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#countdown {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#countdown div {
    background: #D9C5B2;
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
}

#countdown span {
    display: block;
    font-size: 2em;
}
